
<table class="table table-striped table-hover">

  <tr class="table-header">
      <th>Size</th>
      <th>H</th>
      <th>Stack</th>
      <th>Reach</th>
      <th class="hidden-xs">H’</th>
      <th class="hidden-xs">∆Sl</th>
      <th>L</th>
      <th>I</th>
      <th>^S</th>
      <th>^D</th>
      <th class="hidden-xs">D</th>
      <th class="hidden-xs">∆D</th>
      <th class="hidden-xs">C</th>
      <th class="hidden-xs">CH</th>
      <th class="hidden-xs">AV</th>
      <th class="hidden-xs">AR</th>
      <th class="hidden-xs">HP</th>
      <th class="hidden-xs">EP</th>
</tr>

<tr>
  <td>XXS</td>
  <td>495</td>
  <td>513</td>
  <td>372</td>
  <td class="hidden-xs">435</td>
  <td class="hidden-xs">60</td>
  <td>515</td>
  <td>131</td>
  <td>74,7°</td>
  <td>71°</td>
  <td class="hidden-xs">122</td>
  <td class="hidden-xs">-</td>
  <td class="hidden-xs">43</td>
  <td class="hidden-xs">70</td>
  <td class="hidden-xs">576</td>
  <td class="hidden-xs">402</td>
  <td class="hidden-xs">270</td>
  <td class="hidden-xs">963</td>
</tr>

<tr>
  <td>XS</td>
  <td>510</td>
  <td>526</td>
  <td>375</td>
  <td class="hidden-xs">450</td>
  <td class="hidden-xs">60</td>
  <td>530</td>
  <td>143</td>
  <td>73,7°</td>
  <td>71,5°</td>
  <td class="hidden-xs">133</td>
  <td class="hidden-xs">-</td>
  <td class="hidden-xs">43</td>
  <td class="hidden-xs">68</td>
  <td class="hidden-xs">578</td>
  <td class="hidden-xs">402</td>
  <td class="hidden-xs">270</td>
  <td class="hidden-xs">968</td>
</tr>

<tr>
  <td>S</td>
  <td>530</td>
  <td>543</td>
  <td>374</td>
  <td class="hidden-xs">480</td>
  <td class="hidden-xs">50</td>
  <td>540</td>
  <td>155</td>
  <td>73°</td>
  <td>72°</td>
  <td class="hidden-xs">149</td>
  <td class="hidden-xs"> - </td>
  <td class="hidden-xs">43</td>
  <td class="hidden-xs">64</td>
  <td class="hidden-xs">578</td>
  <td class="hidden-xs">404</td>
  <td class="hidden-xs">270</td>
  <td class="hidden-xs">971</td>
</tr>

<tr>
  <td>M</td>
  <td>550</td>
  <td>562</td>
  <td>384</td>
  <td class="hidden-xs">500</td>
  <td class="hidden-xs">50</td>
  <td>555</td>
  <td>161</td>
  <td>73°</td>
  <td>73°</td>
  <td class="hidden-xs">166</td>
  <td class="hidden-xs"> - </td>
  <td class="hidden-xs">43</td>
  <td class="hidden-xs">58</td>
  <td class="hidden-xs">584</td>
  <td class="hidden-xs">404</td>
  <td class="hidden-xs">270</td>
  <td class="hidden-xs">978</td>

</tr>

<tr>
  <td>L</td>
  <td>570</td>
  <td>581</td>
  <td>392</td>
  <td class="hidden-xs">530</td>
  <td class="hidden-xs">40</td>
  <td>570</td>
  <td>167</td>
  <td>73°</td>
  <td>73°</td>
  <td class="hidden-xs">186</td>
  <td class="hidden-xs">-</td>
  <td class="hidden-xs">43</td>
  <td class="hidden-xs">58</td>
  <td class="hidden-xs">599</td>
  <td class="hidden-xs">404</td>
  <td class="hidden-xs">270</td>
  <td class="hidden-xs">993</td>
</tr>

<tr>
  <td>XL</td>
  <td>590</td>
  <td>601</td>
  <td>397</td>
  <td class="hidden-xs">550</td>
  <td class="hidden-xs">40</td>
  <td>580</td>
  <td>172</td>
  <td>73°</td>
  <td>73,5°</td>
  <td class="hidden-xs">204</td>
  <td class="hidden-xs">-</td>
  <td class="hidden-xs">43</td>
  <td class="hidden-xs">55</td>
  <td class="hidden-xs">604</td>
  <td class="hidden-xs">404</td>
  <td class="hidden-xs">270</td>
  <td class="hidden-xs">998</td>
</tr>

</table>
