
<table class="table table-striped table-hover">

  <tr class="table-header">
    <td>Size</td>
    <td>H</td>
    <td>Stack</td>
    <td>Reach</td>
    <td class="hidden-xs">H’</td>
    <td class="hidden-xs">∆Sl</td>
    <td>L</td>
    <td>I</td>
    <td>^S</td>
    <td>^D</td>
    <td class="hidden-xs">D</td>
    <td class="hidden-xs">∆D</td>
    <td class="hidden-xs">C</td>
    <td class="hidden-xs">CH</td>
    <td class="hidden-xs">AV</td>
    <td class="hidden-xs">AR</td>
    <td class="hidden-xs">HP</td>
    <td class="hidden-xs">EP</td>
  </tr>

  <tr>
    <td>XXS</td>
    <td>495</td>
    <td>514</td>
    <td>372</td>
    <td class="hidden-xs">435</td>
    <td class="hidden-xs">60</td>
    <td>515</td>
    <td>131</td>
    <td>74.7°</td>
    <td>71°</td>
    <td class="hidden-xs">122</td>
    <td class="hidden-xs"> - </td>
    <td class="hidden-xs">43</td>
    <td class="hidden-xs">70</td>
    <td class="hidden-xs">576</td>
    <td class="hidden-xs">404</td>
    <td class="hidden-xs">270</td>
    <td class="hidden-xs">970</td>
  </tr>

  <tr>
    <td>XS</td>
    <td>510</td>
    <td>526</td>
    <td>374</td>
    <td class="hidden-xs">450</td>
    <td class="hidden-xs">60</td>
    <td>530</td>
    <td>143</td>
    <td>73.7°</td>
    <td>71.5°</td>
    <td class="hidden-xs">133</td>
    <td class="hidden-xs"> - </td>
    <td class="hidden-xs">43</td>
    <td class="hidden-xs">68</td>
    <td class="hidden-xs">578</td>
    <td class="hidden-xs">404</td>
    <td class="hidden-xs">270</td>
    <td class="hidden-xs">973</td>
  </tr>

  <tr>
    <td>S</td>
    <td>530</td>
    <td>543</td>
    <td>373</td>
    <td class="hidden-xs">480</td>
    <td class="hidden-xs">50</td>
    <td>540</td>
    <td>155</td>
    <td>73°</td>
    <td>72°</td>
    <td class="hidden-xs">149</td>
    <td class="hidden-xs"> - </td>
    <td class="hidden-xs">43</td>
    <td class="hidden-xs">64</td>
    <td class="hidden-xs">578</td>
    <td class="hidden-xs">404</td>
    <td class="hidden-xs">270</td>
    <td class="hidden-xs">973</td>
   </tr>

  <tr>
    <td>M</td>
    <td>550</td>
    <td>562</td>
    <td>383</td>
    <td class="hidden-xs">500</td>
    <td class="hidden-xs">50</td>
    <td>555</td>
    <td>161</td>
    <td>73°</td>
    <td>73°</td>
    <td class="hidden-xs">166</td>
    <td class="hidden-xs">- </td>
    <td class="hidden-xs">43</td>
    <td class="hidden-xs">58</td>
    <td class="hidden-xs">584</td>
    <td class="hidden-xs">404</td>
    <td class="hidden-xs">270</td>
    <td class="hidden-xs">979</td>
  </tr>

  <tr>
    <td>L</td>
    <td>570</td>
    <td>581</td>
    <td>392</td>
    <td class="hidden-xs">530</td>
    <td class="hidden-xs">40</td>
    <td>570</td>
    <td>167</td>
    <td>73°</td>
    <td>73°</td>
    <td class="hidden-xs">186</td>
    <td class="hidden-xs">- </td>
    <td class="hidden-xs">43</td>
    <td class="hidden-xs">58</td>
    <td class="hidden-xs">599</td>
    <td class="hidden-xs">404</td>
    <td class="hidden-xs">270</td>
    <td class="hidden-xs">994</td>
  </tr>

  <tr>
    <td>XL</td>
    <td>590</td>
    <td>601</td>
    <td>397</td>
    <td class="hidden-xs">550</td>
    <td class="hidden-xs">40</td>
    <td>580</td>
    <td>172</td>
    <td>73°</td>
    <td>73,5°</td>
    <td class="hidden-xs">204</td>
    <td class="hidden-xs"> - </td>
    <td class="hidden-xs">43</td>
    <td class="hidden-xs">55</td>
    <td class="hidden-xs">604</td>
    <td class="hidden-xs">404</td>
    <td class="hidden-xs">270</td>
    <td class="hidden-xs">999</td>
  </tr>

</table>
