<section id="what-is-aktiv">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 text-center">
        <%= image_tag 'large-AKTIV.png', class: 'img-responsive' %> 
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 padding-left">
        <h1>What is AKTIV?</h1>
        <p class="lead">Learn more about our revolutionary vibration-damping technology.<br /><a href="/technologies/aktiv"><span class="fa fa-chevron-circle-right"></span> GO AKTIV</a></p>
      </div>
    </div>
  </div>
</section>